:root {
    /* main color */
    --primary: #1e4688;
    --secondary: #00A9B4;
    --background: #d0d6f5;

    /* system colors */
    --success: #28a745;
    --error: #DF435E;
    --warning: #ffbc00;
    --info: #17a2b8;

    /* scrollbar */
    --scrollbar-thumb-color: #c1c1c1;
    --dark--scrollbar-thumb-color: rgba(193, 193, 193, 0.5);
    --scrollbar-width: 14px;
}

* {
    font-family: 'Comfortaa';
}

.cursor-pointer {
    cursor: pointer;
}

.main-container {
    background-color: #e0e2ed
}

.v-tab {
    text-transform: none !important;
}

.v-btn.v-size--default {
    padding: 0 24px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    letter-spacing: 0.1px !important;
}

.v-btn.v-size--large {
    padding: 0 28px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    letter-spacing: 0.1px !important;
}

.v-btn.v-size--small {
    padding: 0 14px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    letter-spacing: 0.5px !important;
}

.v-btn.v-btn--fab.v-size--default {
    padding: 0 !important;
}

.v-btn.v-btn--fab.v-size--large {
    padding: 0 !important;
}

.v-btn.v-btn--fab.v-size--small {
    padding: 0 !important;
}

.v-btn.v-btn--icon.v-size--default {
    padding: 0 !important;
}

.v-btn.v-btn--icon.v-size--large {
    padding: 0 !important;
}

.v-btn.v-btn--icon.v-size--small {
    padding: 0 !important;
}

.v-btn:not(.bottom-navigation__btn) i {
    font-size: 20px !important;
}

/* list item */
.v-list-item {
    padding: 0 12px !important;
}

.v-input--dense>.v-input__control>.v-input__slot {
    padding: 0 12px !important;
}

.v-input__prepend-inner {
    margin-right: 8px !important;
}

/* menu */
.v-menu__content {
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04) !important;
}

abbr {
    text-decoration: none !important;
}

.v-slide-group__next--disabled,
.v-slide-group__prev--disabled {
    display: none !important;
}

.v-application--wrap {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 3px #202020;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 131, 131);
}


@media (min-width: 1200px) {
    .header-container {
        header {
            max-width: 1000px !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 500px) {
    .header-container {
        header {
            max-width: 100% !important;
        }
    }
}

.header-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

@media (min-width: 1200px) {
    .mx-80 {
        max-width: 1000px !important;
    }
}

@media (max-width: 500px) {
    .mx-80 {
        max-width: 100% !important;
    }
}

.mx-80 {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

/* @media (min-width: 1400px) {
    .main-container {
        max-width: 1200px !important;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .main-container {
        max-width: 100% !important;
    }
} */